:root{
    --main: #1a5fb3;
    --sec: #ecc722;
    --acc: white;
}

.mt_50{
    margin-top: 50px;
}

.mt_100{
    margin-top: 100px;
}

.mt_130{
  margin-top: 130px;
}

.mt_150{
    margin-top: 150px;
}
.pt_100{
  padding-top: 100px;
}
.pt_150{
  padding-top: 150px;
}
.bg_main{
    background-color: var(--main) !important;
}

.bg_sec{
    background-color: var(--sec) !important;
}

.bg_acc{
    background-color: var(--acc);
}

.color_main{
    color:var(--main);
}

.color_sec{
    color:var(--sec);
}

.color_acc{
    color:var(--acc);
}
.text-red{
    color: red;
}

.color_verif{
  color: green;
}

*{
    /* font-family: 'Catamaran', sans-serif; */
    font-family: 'Varela Round', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5{
    /* font-family: 'Catamaran', sans-serif; */
    font-family: 'Varela Round', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.cursor{
    cursor: pointer;
}

.vh-50{
    height: 50vh;
}


.vh-65{
  height: 65vh;
}

.vh-80{
    height: 80vh;
}

.vh-150{
    min-height: 150vh;
}

.pt_200{
    padding-top: 200px;
}

.m-custom{
    margin-top: 150px;
}

.radius-20{
    border-radius: 20px;
}

.radius-10{
  border-radius: 10px;
}

.bold-custom{
    font-weight: 600;
}


/* TRUNCATE */
.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  margin: 0px 50px;
}


/* Navbar-dark */
.navbar-dark .navbar-brand {
    color: var(--acc);
  }
  .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: var(--sec) !important;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: var(--acc);
    padding: 5px 15px;
    margin: 0px 5px;
  }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: var(--sec) !important;
  }
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
  }
  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active {
    color: var(--sec) !important;
  }
  .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.55);
  }
  .navbar-dark .navbar-text a,
  .navbar-dark .navbar-text a:hover,
  .navbar-dark .navbar-text a:focus {
    color: var(--main);
  }


.shadow-sm {
    box-shadow: 0 .125rem .3rem rgba(0,0,0,.075)!important;
}

.shadow-m {
    box-shadow: 0 .125rem .5rem .15rem rgba(0, 0, 0, 0.37) !important;
}

.zoom{
  transition: 0.6s;
}

.zoom:hover{
  transform: scale(1.3);
}

.zoom1{
  transition: 0.6s;
}

.zoom1:hover{
  transform: scale(1.05);
}



/* navbar */
.logo{
  width: 150px;
  margin-top: 10px;
}

.logo-header{
  width: 650px;
}

#navbar{
    transition: 0.4s;
}

.navcolor{
    background-color: var(--sec);
}

.form-search{
  width: 250px;
  border-radius: 0.25rem;
}

/* header */
.person{
  bottom: 100px;
  left: 150px;
}


/* linea navbar items */
.line{
    position: relative;
}
.line::before{
    content: "";
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 10px;
    background-color: var(--sec);
    visibility: hidden;
    transition: 0.4s;
}
.line:hover::before{
    width: 100%;
    visibility: visible;
}

/* linea navbar items */
.line-nav{
  position: relative;
}
.line-nav::before{
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  border-radius: 10px;
  background-color: var(--sec);
  visibility: visible;
  transition: 0.4s;
}

/* card */

.card{
  width: 100%;
  transition: 0.2s;
}

.card:hover{
  transform: scale(1.03);
}

.price{
  font-size: 21px;
  text-shadow: 0px 0px 90px black;
  font-weight: 700;
  color: var(--main);
  right: 10px;
  bottom: -2px;
  z-index: 1;
}

.name{
  font-size: 25px;
  font-weight: 550;
  color: rgb(56, 55, 55);
}
.color_main_h{
  color: var(--main);
}
.color_main_h:hover{
  color: var(--sec);
}

/* header */
#header-box{
    padding: 50px;
    background: linear-gradient(to bottom,rgba(0,0,0, 0),rgba(0,0,0, 100)),url('/img/magazino.jpg');
    background-attachment: fixed;
    background-position: center;
    
}
.border_sec{
  border: 2px solid var(--sec);
}

.page-item.active .page-link{
  background-color: var(--main) !important;
}



/* footer */
.bg_footer{
  background-color: var(--main);
}

.footer-li{
  color: var(--acc);
  transition: 0.4s;
}

.footer-li:hover{
  color: var(--sec);
}


footer a{
  text-decoration: none;
}

.list-inline-item{
  margin: 0px !important;
  padding: 0px !important;
  color: white;
  transition: 0.4s;
}

.list-inline-item:hover{
  padding-right: 10px;
  color: var(--sec);
}

/* search */

#search-box{
  padding: 70px 50px;
  background-color: var(--acc);
  position: relative;
  bottom: 95px;
  border-radius: 0.25rem;
}



.rounded .form-control{
  height: 50px !important;
}

.form-control:focus {
  box-shadow: none;
  transition: all .1s linear;
  border-color: var(--main) !important;
}

.input-group>.form-control:focus {
  transition: all .2s linear;
  border-color: var(--main) !important;
}

.img-profile{
  height: 200px;
  width: 200px;
  background-image: url('https://via.placeholder.com/300');
  border: none;
  border-radius: 10px;
}
.dropzone-custom{
  border-radius: 5px;
}
